name: ci

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  check-quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v3

      - name: Install Python
        run: make app:build-ci

      - name: Generate client
        run: make api:generate-client

      - name: Check formatting
        run: make app:format-check

      - name: Check linting
        run: make app:lint

      - name: Check typing
        run: make app:type